{% extends "layout.html" %}

{% block title %}
    About FIRE
{% endblock %}

{% block main %}

<h2> What is FIRE</h2>

<p>
F.I.R.E. (Financial Independence, Retire Early) is a lifestyle movement focused on gaining financial independence and retiring early
by maximizing savings rate and minimizing spending. If enough assets are accumulated early on that generate passive income, the passive
income can replace a normal 9 to 5 job and enable early retirement.
</p>

<h2> Fundamentals of FIRE </h2>

<h5> The 4% rule </h5>
    <p>
        The 4% rule is the rule of thumb typically used to calculate the nest egg in investments required to retire.
        The premise is that your annual spending or "safe withdrawal rate" in retirement should be equal to 4% of your nest egg.
        The Trinity Study analyzed stock market returns from 1925 to 1995 over a 15-30 year retirement horizon and found that
        an annual withdrawal rate of 3 to 4% of the portfolio would not deplete the portfolio over the 15-30 year time horizons.

    </p>
    <ul>
        <li>
        With a $1 million nest egg, your annual spending in retirement is equal to $1,000,000 x 4%/100 = $40,000.
        </li>
        <li>
        With a $1.5 million nest egg, your annual spending in retirement is equal to $1,500,000 x 4%/100 = $60,000.
        </li>
        <li>
        With a $2 million nest egg, your annual spending in retirement is equal to $2,000,000 x 4%/100 = $80,000.
        </li>
    </ul>
    <p>
        Variations of the 4% rule exist, such as the 3% rule -- where your safe withdrawal rate is set at 3% of your nest egg.
        This is more conservative than the 4% rule and less likely to deplete the principal over a long time horizon.
    </p>
<h5> Understand your earnings, spending, and savings </h5>
    <p>
        In order to reach financial independence you have to first have an idea of how much
        income you're earning, how much you're spending on a monthly basis, and how much you're saving and investing.
        The first step is familiarzing yourself with your baseline cash inflow and outflow.
    </p>
<h5> Optimize your spending </h5>
    <p>
        Once you have a baseline of your cash flows, figure out how to reduce/optimize spending.
        How much are you spending on rent, groceries, dining out, online purchases, gym membership, and subscriptions?
        Come up with a monthly budget for the categories you tend to spend your money on based on your
        historic spending and see if you can stick to it! Apps like Mint or YNAB are helpful at tracking your spending vs
        budget categories each month. Consider cutting down on low hanging fruit like pricey
        $5 coffee runs multiple times a week or paying for multiple $10-$20 alcoholic beverages at dinner.
        Budgeting is a personal process-- you need to decide what brings you the most happiness and what you're willing
        and not willing to cut down on. During this process you might realize that there's extra expenses that
        you won't miss at all.
<h5> Maximize your tax-advantaged account contributions </h5>
    <p>
        Take advantage of all accounts that you can that can either give you a tax break now or a tax break in the future.
        Consider the following investment vehicles:
        <ol>
            <li>Employer 401(k)</li>
                <p>
                If your employer is offering to match your 401k contributions, make sure to take advantage of it. It's
                effectively free money. At a minimum, contribute enough to take advantage of the full employer match. For example
                if the employer matches every dollar you contribute up to 5% of your salary, contribute at least 5% of your salary to
                your 401k every paycheck. The annual maximum contribution for a 401K is $19,500 per year in 2021. If after your 5% 401k
                contribution and your $6,000 per year Roth IRA contribution is funded and you still have leftover money, consider
                bumping up your 401k contribution to hit the $19,500 max.
                </p>
                <p>
                There are two flavors of 401(k)s: Traditional 401ks and Roth 401ks. Traditional 401ks allow you get a tax deduction
                on your contribution for that year. For example if you make $80,000 per year and contributed the full $19,500 to a traditional
                401k, you would only have to pay taxes on the difference of $60,500 before you take into account other deductions that lower your taxable income.
                However you will have to pay taxes on the principal and any earnings when you make any withdrawals from your traditional 401k in retirement. 
                The withdrawals are taxed based on the federal income tax brackets. 
                </p>
                <p>
                Roth 401ks do not give you a tax deduction on your contributions, but allow your earnings and contributions to grow tax free. For example, if
                you put in $6,000 in 2021 and then when you retire the $6,000 has grown to $24,000, you can withdraw all $24,000 without paying any more taxes.
                Effectively, you paid taxes on only $6,000 out of the $24,000.
                </p>
                <p>
                The amount you contribute to a Traditional 401k vs Roth 401k depends on your current tax bracket and if you believe your taxes will be higher
                than they are now when you are withdrawing money for retirement. Those with high incomes over $100,000 may find it makes more sense to contribute to
                the traditional 401k to reduce their taxable income and then contribute to a Roth IRA in addition. Those with lower incomes may prefer contributing to a Roth
                401K because they are already in a low tax bracket and can take advantage of the tax-free earnings that accumulate in a Roth 401K.
                </p>
            <li> Roth IRA</li>
                <p>
                If your modified adjusted gross income (MAGI) is under $125,000 per year, you can contribute up to $6,0000 per year to a ROTH IRA
                with earned income (W-2 salary income). Similar to a Roth 401K, the magic of a ROTH IRA is that although your contributions are not tax-exempt
                the year that you contribute, all of the earnings are tax-free when you withdraw the money. You can also withdraw the principal (not the earnings)
                at any point. This is useful for those pursuing FIRE to avoid early withdrawal penalties from retirement vehicles like 401ks if they need to
                withdraw before they are 59.5 years old.
                </p>
            <li> HSA </li>
                <p>
                HSAs or health savings account offer a triple tax advantage. The money you contribute counts as a tax deduction the year you contribute,
                earnings are tax-free, and withdrawals for qualified medical expenses are tax-free. Those with a high deductible low premium medical plan
                may qualify for an HSA. Annual contributions for individuals are up to $3,600 in 2021.
                </p>
        </ol>


    </p>
<h5> Contribute everything extra to a taxable brokerage account </h5>
    <p>
        Once you have maxed out all of the tax-advantaged accounts and have a 3-6 month all cash emergency fund, contribute all extra savings to a taxable brokerage account --
        Vanguard, Fidelity, and Schwab are all reputable options. Set up
        monthly or biweekly autoinvestments to automatically transfer money from your checking/savings account into your brokerage account
        and buy your investments on a fixed schedule.

    </p>
<h5> Invest in broad market index funds or ETFs consistently </h5>
   <p>
        The tried and true method to investing and earning passive income is to invest in total US market index funds/ETFs, international index funds/ETFs,
        and bonds (Three fund portfolio). A rule of thumb is that your total portfolio stock allocation should be equal to 120  - your age. If you are 30 years old, your stock allocation
        should be roughly 90% and your bond allocation 10%. Stocks tend to have a higher overall return than bonds but are more volatile.
    </p>
    <p>
        The expected annual return over a long time horizon is 6-8%. Individual years could be much higher than this
        or even negative, but over the long run the average can be approximated as 6-8% based on historical data.
    </p>
        <p>Examples of total US stock market index funds:</p>
        <ul>
            <li> FSKAX or FZROX at Fidelity</li>
            <li> VTSAX at Vanguard </li>
        </ul>

        <p>Examples of total international stock market index funds:</p>
        <ul>
            <li> FSPSX or FZILX at Fidelity</li>
            <li> VTIAX at Vanguard </li>
        </ul>

        <p>
        Set up monthly or biweekly autoinvestments to automatically transfer money from your checking/savings account into your brokerage account
        and buy your investments on a fixed schedule. The best way to invest is to not time the market, but to invest consistently each
        time you get a new paycheck regardless of what's going on in the market at the time.
        </p>
        <p>
        Do not try to time the market by buying in when the market dips or try and sell because of fears of a potential crash. Keep your money
        parked in investments with the mindset that you will only sell once you reach financial independence and are selling the investments
        to fund your expenses.
        </p>


{% endblock %}




